<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/naval/naval_battle/naval_battle.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../../static/_shared/hexagon/hexagon.css">
    </link>
</head>

<body>
    <div class="mainDiv">
        <div id="gameDiv">
            <div id="map">
            </div>
        </div>
        <div id="sideDiv">
            <div id="actionDiv" >
                <div class="row" >
                    <button id="attackButton" >
                        <img src="../../media/naval/skull.png"/>
                        <span>Attack</span>
                    </button>
                </div>
                <div class="row" >
                    <button id="turnButton" >
                        <img src="../../media/sandglass.png" />
                        <span>Turn</span>
                    </button>
                </div>
            </div>
            <div id="chatDiv" >
            </div>
        </div>
    </div>
</body>

</html>