<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/naval/prepairing/prepairing.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../../static/_shared/hexagon/hexagon.css">
    </link>
</head>

<body>
    <div class="mainDiv">
        <div id="gameDiv">
            <div id="map">
            </div>
        </div>
        <div id="sideDiv">
            <div id="ships" >
                <div class="shipRow" >
                    <div class="shipColumn" >
                        <img src="../../media/naval/ship1.png" width="75%" />
                    </div>
                    <div class="shipCount" >
                        <span>x3</span>
                    </div>
                </div>
                <div class="shipRow" >
                    <div class="shipColumn" >
                        <img src="../../media/naval/ship2.png" width="75%" />
                    </div>
                    <div class="shipCount" >
                        <span>x3</span>
                    </div>
                </div>
                <div class="shipRow" >
                    <div class="shipColumn" >
                        <img src="../../media/naval/ship3.PNG" width="75%" />
                    </div>
                    <div class="shipCount" >
                        <span>x3</span>
                    </div>
                </div>
                <div class="row" >
                    <button>Confirm Strategy</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>