#map{
    margin: auto;
    width: 90%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
}
.woodTitle {
    background-image: url(../../media/map/green_woods.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenTitle {
    background-image: url(../../media/map/flat_green_transformed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenWoodTitle {
    background-image: url(../../media/map/green_woods.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lighthouseTitle {
    background-image: url(../../media/map/lighthouse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.marshTitle {
    background-image: url(../../media/map/marsh.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenMountionTitle {
    background-image: url(../../media/map/mountion_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.portTitle {
    background-image: url(../../media/map/port.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.portInverseTitle {
    background-image: url(../../media/map/port_inverse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenRocksTitle {
    background-image: url(../../media/map/rocky_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sandCityTitle {
    background-image: url(../../media/map/sand_city.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sandFlatTitle {
    background-image: url(../../media/map/sand_flat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115% 150%;
}
.seaTitle {
    background-image: url(../../media/map/sea.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.snowCastleTitle {
    background-image: url(../../media/map/snow_castle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.snowFlatTitle {
    background-image: url(../../media/map/snow_flat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.snowWoodTitle {
    background-image: url(../../media/map/snow_wood.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenCastleTitle {
    background-image: url(../../media/map/castle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenCityTitle {
    background-image: url(../../media/map/city_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.greenTreasureTitle {
    background-image: url(../../media/map/green_treasure.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}