<head>
    <link rel="stylesheet" type="text/css" href="../static/game_rooms/game_rooms.css">
    </link>
    <script src="../static/game_rooms/game_rooms.js"></script>
    <title>Magic&Might of Heroes</title>
</head>
<style>
</style>

<body>
    <div id="mainDiv">
        <div id="gameRoomsDiv">
            <div id="gameRoomsHeader"><h3 class="gameRoomsText">GAME ROOMS</h3></div>
            <div id="gameRoomsHostsDiv">
                <div id="leftCross"></div>
                <div id="roomsDiv">
                    <div class="spesificRoom">
                        <div id="roomNameDiv"><h3 class="spesificRoomsText">Metin's Game</h3></div>
                        <div id="joinButtonDiv"><button class="joinGameButton" onclick="hostGame();" type="button">Join</button></div>
                    </div>
                    <div class="spesificRoom">
                        <div id="roomNameDiv"><h3 class="spesificRoomsText">Uğur's Game</h3></div>
                        <div id="joinButtonDiv"><button class="joinGameButton" onclick="hostGame();" type="button">Join</button></div>
                    </div>
                </div>
                <div id="rightCross"></div>
            </div>
        </div>
        <div id="settingsDiv">
            <div id="settingsHeader"></div>
            <div id="settingDiv">
                <div class="row">
                    <div class="hostGameDiv"><button class="hostGameButton" onclick="hostGame();" type="button">Host Game</button></div>
                </div>
                <div class="row">
                    <div class="hostGameDiv"><button class="hostGameButton" type="button">Load Game</button></div>
                </div>
                <div class="row">
                        <div class="gameSettingsDiv"><button class="settingButton" type="button" disabled>Filter</button></div>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="20" class="slider" id="myRange">
                          </div>
                </div>
                <div class="row">
                        <div class="gameSettingsDiv"><button class="settingButton" type="button" disabled>SFX</button></div>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="20" class="slider" id="myRange">
                          </div>
                </div>
                <div class="row">
                        <div class="gameSettingsDiv"><button class="settingButton" type="button" disabled>Music</button></div>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="20" class="slider" id="myRange">
                          </div>
                </div>
            </div>

    </div>
</body>

</html>