{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'game_rooms/game_rooms.css' %}">
    <script src="{% static 'game_rooms/game_rooms.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="mainDiv">
        <div id="gameRoomsDiv">
            <div id="gameRoomsHeader"><h3 class="gameRoomsText">GAME ROOMS</h3></div>
            <div id="gameRoomsHostsDiv">
                <div id="leftCross" style="visibility: hidden"></div>
                <div id="roomsDiv">
                    {% for game_form in games_forms %}
                        <form action='/game_rooms/' method="post">
                        {% csrf_token %}
                            <div class="spesificRoom">
                                <div class="roomNameDiv">
                                    <h3 class="spesificRoomsText">
                                        {{ game_form.game_name.value }}
                                    </h3>
                                </div>
                                <input name="game_id" value="{{ game_form.game_id.value }}" hidden />
                                <div id="joinButtonDiv">
                                    <button class="joinGameButton" type="submit" >
                                        Join
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <div id="rightCross" style="visibility: hidden" ></div>
            </div>
        </div>
        <div id="settingsDiv">
            <div id="settingsHeader"></div>
            <div id="settingDiv">
                <div class="row">
                    <div class="hostGameDiv">
                        <form action="/game_rooms/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="hostGameButton" id="hostGameButton">
                                Host Game
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="hostGameDiv"><button class="hostGameButton" type="button" disabled style="opacity: 0.3;" >Load Game</button></div>
                </div>
                <!--<div class="row filterRow">
                    <div class="col">
                        <input type="text" placeholder="Enter room name" />
                      </div>
                    <div class="hostGameDiv"><button class="hostGameButton" type="button">Search</button></div>
                </div>-->
                {% comment %}<form action="/game_rooms" method="post">
                    <div class="row">
                            <div class="gameSettingsDiv"><button class="settingButton" type="button" disabled>SFX</button></div>
                            <div class="slidecontainer">
                                <input name="sfx" type="range" min="1" max="100" value="20" class="slider" id="myRange">
                              </div>
                    </div>
                    <div class="row">
                            <div class="gameSettingsDiv"><button class="settingButton" type="button" disabled>Music</button></div>
                            <div class="slidecontainer">
                                <input name="music" type="range" min="1" max="100" value="20" class="slider" id="myRange">
                              </div>
                    </div>
                </form>{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}
