{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'host_game/host_game.css' %}">
    <script src="{% static 'host_game/host_game.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper background-image">
        <form id="gameForm" name="form" action="" method="post">
            <div class="column w-70 p-3">
                <div class="row">
                    <div id="playerListDiv">
                        {% for player in players %}
                            {% csrf_token %}
                            <div class="player">
                                <div class="color">
                                </div>
                                <div class="nameDiv">
                                    <input value="{{ player.username.value }}" disabled>
                                </div>
                                <div class="nation">
                                    {{ player.nation }}
                                </div>
                                <div class="checkBox">
                                    {{ player.status }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row h-25 w-100">
                    <!-- TODO here goes chat-->
                    {% include '_shared/chat.html' %}
                </div>
            </div>
            <div class="column w-24 background-image-border">
                <div class="row">
                    <img src="{% static 'media/map-img.png' %}" alt="" style="margin: auto;width: 400px;height: 300px;">
                    <div class="rows" id="MapSelection">
                        <h3>
                            MAP
                        </h3>
                    </div>
                    <div class="row">
                        {{ host_game_form.map }}
                    </div>
                    <div class="row" id="VictoryCondition">
                        <h3>
                            VICTORY CONDITION
                        </h3>
                    </div>
                    <div class="row">
                        {{ host_game_form.victory_condition }}
                        {% comment %}<div id="NumberOfTurns">
                            <h3>
                                NumberOfTurns
                            </h3>
                        </div>
                        <div class="row3">
                            {{ host_game_form.number_of_turns.value }}
                        </div>{% endcomment %}
                        <div id="row">
                            <input hidden name="gameReady"/>
                            <a onclick="startGame()">
                                <img src="{% static 'media/SliderButton.png' %}">
                            </a>
                        </div>
                        <button>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}