{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "login/login.css" %}">
    <script src="{% static "login/login.js" %}"></script>
{% endblock %}
{% block content %}
    <div id="mainDiv">
        <div id="BackgroundDiv">
            <div id="TitleDiv">
                <img src="{% static "media/Logo.png" %}" width="100%" />
            </div>
            <form id="loginForm" action="/" method="post">
                {% csrf_token %}
                <div id="NameDiv">
                    {{ form }}
                </div>
                <div id="PlayDiv" onclick="startGame()" >
                </div>
            </form>
        </div>
    </div>
{% endblock %}
