body {
   background-image: url(../../media/general-background.png);
   background-repeat: no-repeat;
   background-size: cover;
  }

#gameDiv {
  float: left;
  height: 925px;
  width: 70%;
  background-position: center;
  background-image: url(../../media/example-light.png);
  background-repeat: no-repeat;
  background-size: 1350px 950px;
  overflow: auto;
}
#sideDiv {
  background-position: center;
  float: left;
  height: 925px;
  width: 30%;
  background-position: center;
}

#headerDiv{
  text-align: center;
  width: 95%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
}





#actionDiv{
  margin: auto;
  margin-top: 10px;
  height: 9%;
  width: 90%; 
}

#constructorHead{
  height: 20%;
  width: 85%;
  margin-top: 100px;
  margin-left: 100px;
}

.constructDiv{
 float: left;
 margin-right: 20px;
 margin-left: 10px;
 background-image: url(../../media/example-dark.png);
 background-size: 240px 190px;
 width: 22%;
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
}

#nameBarHeadDiv{
  height: 5%;
  width: 85%;
  margin-top: 10px;
  margin-left: 100px;
}
.buildingsNameText{
 color: white;
}

.nameBarDiv{
 text-align: center;
 float: left;
 margin-right: 20px;
 margin-left: 10px;
 background-image: url(../../media/SliderBar.png);
 background-size: 250px 70px;
 width: 22%;
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 line-height: 10px;
}

#constructorInfoDiv{
  height: 60%;
  width: 85%;
  margin-top: 10px;
  margin-left: 100px;
}

#buildingDiv{
  background-image: url(../../media/example-dark.png);
  background-size: 255px 230px;
  height: 70%;
  width: 95%;
  float: none;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-right: 10px ;
  margin-left: 10px ;
  
}

#buildingGeneralDiv{
  float: left;
  height: 60%;
  width: 25%;
  
}

#buildingBarDiv{
 float: none;
 text-align: center;
 margin-right: 20px;
 margin-left: 15px;
 margin-top: 10px;
 background-image: url(../../media/SliderBar.png);
 background-size: 260px 60px;
 width: 90%;
 height: 15%;
 background-position: center;
 background-repeat: no-repeat;
 line-height: 50px;
}

#buildingInfoDiv{
  float: left;
  background-image: url(../../media/example-dark.png);
  background-size: 810px 450px;
  height: 80%;
  width: 72%;
  background-position: center;
  background-repeat: no-repeat;
}




.img-container {
  text-align: center;
  display:block;
  margin:auto;
  height: 90%;
  margin-top:5px;
}

#backButtonDiv{
 float: left;
 margin-left:20px;
 padding-left:20px;
 padding-top:20px;
 height: 20%;
 width: 40%;
}

#turnButtonDiv{
 float: left;
 margin: auto;
 padding-left:30px;
 padding-top:20px;
 height: 20%;
 width: 40%;
}
.row{
  float: left;
  margin: auto;
  margin-top: 2%;
  margin-left: 3%;
  height: 15%;
  width:90%;
}

.buildingUpgradeDiv{
  float: left;
  margin: auto;
  height: 80%;
  width:30%;
  margin-top: 2%;
  margin-left: 3%;
}

#showText{
  float: none;
  margin: auto;
  padding-top:2%;
  height: 75%;
  width:95%;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
   border: 2px solid lime;
   font-size: 15px;
   resize: none;
}

