#mainDiv{
    background-image: url(../media/example-light.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
    background-color: gray;
    height: 100vh;
    text-align: center;
}
#BackgroundDiv{
    margin:auto;
    padding: 9%;
    background-size: 97% 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/general-background.png);
}
#TitleDiv{
    margin-right:auto;
    margin-left: auto;
    text-align:center;
    width: 40%;
}
#PlayDiv{
    margin:auto;
    background-size: 100% 100%;
    margin-top:1%;
    text-align:center;
    width: 40%;
    background-image: url(../media/play_button.png);
    background-position: center;
    height: 250px;
}
#NameDiv{
    margin:auto;
    margin-top:1%;
    text-align:center;
    width: 20%;
    background-image: url(../media/example-dark.png);
    background-position: center;
    background-size: 100% 100%;
    height: 55px;
}
#NameDiv input{
    background-color: inherit;
    border: none;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 90%;
    padding: 10px;
}