<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/overworld/chracter_view/chracter_view.css">
    </link>
    <script src="../../static/overworld/chracter_view/chracter_view.js" ></script>
</head>

<body>
    <div id="mainDiv">
        <div id="closexDiv">
            <img onclick="closePanel();" src="../../media/close-x.png" alt="" style="margin: auto;width: 70px;height: 70px;">
        </div>
        <div id="generalViewDiv">
            <div id="leftDiv">
                <div id="heroHeaderDiv"><p class="heroNameText">Argeon Highmayne</p></div>
                <div id="heroAvatarDiv">
                        <img src="../../media/hero-avatar.png" alt="" class="img-container">
                </div>
                <div id="heroStatsDiv">
                    <div class="heroStatsText">
                            <div class="statColumn" >
                                    <span class="c-g">Strenght : </span><span class="c-w">19</span>
                                    <br>
                                    <br>
                                    <span class="c-g">Agility : </span><span class="c-w">7</span>
                                    <br>
                                    <br>
                                    <span class="c-g">Stamina : </span><span class="c-w">12</span>
                                    <br>
                                    <br>
                                    <span class="c-g">Intellient : </span><span class="c-w">5</span>
                                    <br>
                                    <br>
                                    <span class="c-g">Vitality : </span><span class="c-w">16</span>
                                </div>
                    </div>
                    <div class="heroStatsText">
                            <div class="statColumn" >
                                    <span class="c-g">Armor : </span><span class="c-w">56</span>
                                    <br>
                                    <br>
                                    <span class="c-g">Damage : </span><span class="c-w">20</span>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <span class="c-g" style="font-size: large;">Skill Points:  </span><span class="c-w">0</span>
                                </div>
                    </div>
                </div>
                <div id="expBarDiv"></div>
            </div>
            <div id="middleDiv">
                <div id="skillTextDiv"><p class="skillTreeText">Skill Tree</p></div>
                <div id="skillTreeDiv"></div>
            </div>
            <div id="rightDiv">
                <div id="upperDiv">
                    <div id="inverntoryTextDiv"><p class="skillTreeText">Inventory</p></div>
                    <div id="inventoryDiv">
                        <div id="upperInventory">
                                <div class="inventoryBox">
                                    <img src="../../media/item1.png" alt="" class="item-container">
                                </div>
                                <div class="inventoryBox">
                                    <img src="../../media/item2.png" alt="" class="item-container">
                                </div>
                                <div class="inventoryBox">
                                    <img src="../../media/item3.png" alt="" class="item-container">
                                </div>
                                <div class="inventoryBox">
                                    <img src="../../media/item4.png" alt="" class="item-container">
                                </div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                        </div>
                        <div id="lowerInventory">
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                        </div>
                        
                    </div>
                </div>
                <div id="lowerDiv">
                    <div id="leftLowerDiv">
                        <div id="equipmentTextDiv"><p class="equipmentText">Equipment</p></div>
                        <div id="equipmentDiv">
                            <div class=row>
                                    <div id="equipmentBox1" class="equipmentCheckBox">
                                            <img src="../../media/item-head.png" alt="" class="item-container">
                                    </div>
                                    <div class="equipmentText">
                                        <h5>Head:</h5>
                                    </div>
                            </div>
                            <div class=row>
                                    <div id="equipmentBox2" class="equipmentCheckBox">
                                            <img src="../../media/item-torso.png" alt="" class="item-container">
                                    </div>
                                    <div class="equipmentText">
                                            <h5>Torso:</h5>
                                    </div>
                            </div>
                            <div class=row>
                                    <div id="equipmentBox3" class="equipmentCheckBox">
                                            <img src="../../media/item-weapon.png" alt="" class="item-container">
                                    </div> 
                                    <div class="equipmentText">
                                            <h5>Weapon:</h5>
                                    </div>  
                            </div>   
                        </div>
                    </div>
                    <div id="rightLowerDiv">
                        <div id="skillsTextDiv"><p class="equipmentText">Skills</p></div>
                        <div id="skillsDiv">
                            <div id="skill1" class="skillCheckBox">
                                <img src="../../media/skill1.png" alt="" class="item-container">
                            </div>
                            <div id="skill2" class="skillCheckBox">
                                <img src="../../media/skill2.png" alt="" class="item-container">
                            </div>
                            <div id="skill3" class="skillCheckBox">
                                <img src="../../media/skill3.png" alt="" class="item-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>