<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/overworld/chracter_view/chracter_view.css">
    </link>
</head>

<body>
    <div id="mainDiv">
        <div id="closexDiv">
            <img src="../../media/close-x.png" alt="" style="margin: auto;width: 70px;height: 70px;">
        </div>
        <div id="generalViewDiv">
            <div id="leftDiv">
                <div id="heroHeaderDiv"><p class="heroNameText">Argeon Highmayne</p></div>
                <div id="heroAvatarDiv">
                        <img src="../../media/hero-avatar.png" alt="" class="img-container">
                </div>
                <div id="heroStatsDiv"></div>
                <div id="expBarDiv"></div>
            </div>
            <div id="middleDiv">
                <div id="skillTextDiv"><p class="skillTreeText">Skill Tree</p></div>
                <div id="skillTreeDiv"></div>
            </div>
            <div id="rightDiv">
                <div id="upperDiv">
                    <div id="inverntoryTextDiv"><p class="skillTreeText">Inventory</p></div>
                    <div id="inventoryDiv">
                        <div id="upperInventory">
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                        </div>
                        <div id="lowerInventory">
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                                <div class="inventoryBox"></div>
                        </div>
                        
                    </div>
                </div>
                <div id="lowerDiv">
                    <div id="leftLowerDiv">
                        <div id="equipmentTextDiv"><p class="equipmentText">Equipment</p></div>
                        <div id="equipmentDiv"> 
                            <div id="equipmentBox1" class="equipmentCheckBox">Head:</div>
                            <div id="equipmentBox2" class="equipmentCheckBox">Torso:</div>
                            <div id="equipmentBox3" class="equipmentCheckBox">Weapon:</div>   
                        </div>
                    </div>
                    <div id="rightLowerDiv">
                        <div id="skillsTextDiv"><p class="equipmentText">Skills</p></div>
                        <div id="skillsDiv">
                            <div id="skill1" class="skillCheckBox"><p></p></div>
                            <div id="skill2" class="skillCheckBox"><p></p></div>
                            <div id="skill3" class="skillCheckBox"><p></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>