<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
  <link rel="stylesheet" type="text/css" href="../../static/overworld/city_view/city_view.css">
  </link>
  <script src="../../static/overworld/city_view/city_view.js" ></script>
</head>
<body>
  <div class="mainDiv">
    <div id="gameDiv">
      <div id="constructorHead">
        <div class="constructDiv">
          <img src="../../static/media/barrack.png" alt="" width="90%" class="img-container">
        </div>
        <div class="constructDiv">
          <img src="../../static/media/market.png" alt="" width="90%" class="img-container">
        </div>
        <div class="constructDiv">
          <img src="../../static/media/mining-place.png" alt="" width="90%" class="img-container">
        </div>
        <div class="constructDiv">
          <img src="../../static/media/blacksmith.png" alt="" width="90%" class="img-container">
        </div>
      </div>
      <div id="nameBarHeadDiv">
        <div class="nameBarDiv"><h3 class="buildingsNameText">Barrack</h3></div>
        <div class="nameBarDiv"><h3 class="buildingsNameText">Market</h3></div>
        <div class="nameBarDiv"><h3 class="buildingsNameText">Mining Place</h3></div>
        <div class="nameBarDiv"><h3 class="buildingsNameText">BlackSmith</h3></div>
      </div>
      <div id="constructorInfoDiv">
          <div id=buildingGeneralDiv>
            <div id="buildingDiv">
              <img src="../../static/media/city-hall.png" alt="" width="90%" class="img-container" style="padding: 11px;">
            </div>
            <div id="buildingBarDiv"><h3 class="buildingsNameText">City Hall</h3></div>
          </div>
          <div id="buildingInfoDiv">
            <div class="row">
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/found-religion.png" alt="" width="90%" class="img-container" onclick="foundReligion()" >
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/add-blief.png" alt="" width="90%" class="img-container" onclick="foundReligion()" >
              </div>
            </div>
            <div class="row">
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/market2-upgrade.png" alt="" width="90%" class="img-container">
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/mining2-upgrade.png" alt="" width="90%" class="img-container">
              </div>
            </div>
            <div class="row">
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/blacksmith-upgrade.png" alt="" width="90%" class="img-container">
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/blacksmith2-upgrade.png" alt="" width="90%" class="img-container">
              </div>
            </div>
            <div class="row">
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/barrack2-upgrade.png" alt="" width="90%" class="img-container">
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/barrack3-upgrade.png" alt="" width="90%" class="img-container">
              </div>
            </div>
            <div class="row">
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/age2-upgrade.png" alt="" width="90%" class="img-container">
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/age3-upgrade.png" alt="" width="90%" class="img-container">
              </div>
              <div class="buildingUpgradeDiv">
                <img src="../../static/media/age4-upgrade.png" alt="" width="90%" class="img-container">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="sideDiv">
      <div id="headerDiv">
        <img src="../../static/media/Logo.png" alt="" width="90%">
      </div>
      <div id="resourceDiv">
        <div id=resourceTagDiv>
          <img src="../../static/media/resource-tag.png" alt="" width="90%" class="img-container">
        </div>
        <div id="resources-general">
          <div id="resources-types">
            <img src="../../static/media/resource-types.png" alt="" width="90%" style="width: 200px;height: 150px;">
          </div>
          <div id="resources-number">
            <div id="resource-gold">
              <textarea readonly rows="2" cols="16"></textarea>
            </div>
            <div id="resource-poplimit">
              <textarea readonly rows="2" cols="16"></textarea>
            </div>
            <div id="resource-power">
              <textarea readonly rows="2" cols="16"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div id="actionDiv">
        <div id="backButtonDiv">
          <img src="../../static/media/back-button.png" onclick="locationBack();" alt="" width="90%">
        </div>
        <div id="turnButtonDiv">
          <img src="../../static/media/turn-button.png" alt="" width="90%">
        </div>
      </div>  
      <div id="chatDiv">
        <div id="showText">
          <textarea readonly rows="16" cols="67"></textarea>
        </div>
        <div id="chatText">
          <textarea sentences maxlength="100" placeholder="Enter to send your message!" rows="2" cols="58"></textarea>
        </div>
      </div>
    </div>
  </div>
</body>
</html>