<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/overworld/base/base.css"></link>
    <link rel="stylesheet" type="text/css" href="../../static/_shared/hexagon/hexagon.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/d3-hexgrid"></script>
    <script src="../../static/overworld/base/base.js" ></script>
</head>

<body>
    <div class="mainDiv">
        <div id="gameDiv">
            <div id="map">
            </div>
        </div>
        <div id="sideDiv">
            <div id="headerDiv">
                <img src="../../static/media/Logo.png" alt="" width="90%">
            </div>
            <div id="resourceDiv">
                <div id=resourceTagDiv>
                    <img src="../../static/media/resource-tag.png" alt="" width="90%" class="img-container">
                </div>
                <div id="resources-general">
                    <div id="resources-types">
                        <img src="../../static/media/resource-types.png" alt="" width="90%" style="width: 200px;height: 150px;">
                    </div>
                    <div id="resources-number">
                        <div id="resource-gold">
                            <textarea readonly rows="2" cols="16"></textarea>
                        </div>
                        <div id="resource-poplimit">
                            <textarea readonly rows="2" cols="16"></textarea>
                        </div>
                        <div id="resource-power">
                            <textarea readonly rows="2" cols="16"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="actionDiv">
                <div id="turnButtonDiv">
                    <img src="../../static/media/turn-button.png" alt="" width="90%">
                </div>
            </div>
            <div id="chatDiv">
                <div id="showText">
                    <textarea readonly rows="16" cols="67"></textarea>
                </div>
                <div id="chatText">
                    <textarea sentences maxlength="100" placeholder="Enter to send your message!" rows="2" cols="58"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>

</html>