{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'overworld/base/base.css' %}">
    <script src="{% static 'overworld/base/base.js' %}" ></script>
{% endblock %}
{% block content %}
    <div class="mainDiv">
        <div id="gameDiv">
            {% include '_shared/hexagon.html' %}
        </div>
        <div id="sideDiv">
            <div id="headerDiv">
                <img src="../../static/media/Logo.png" alt="" width="90%">
            </div>
            {% include '_shared/resources.html' %}
            <div id="actionDiv">
                <div id="turnButtonDiv">
                    <img src="../../static/media/turn-button.png" alt="" width="90%">
                </div>
                <div class="float-left">
                    <button id="characterDetail" onclick="characterDetails()">Character Details</button>
                </div>
            </div>
            {% include '_shared/chat.html' %}
        </div>
    </div>
    {% include 'overworld/chracter_view.html' %}
{% endblock %}