<!DOCTYPE html>
<html>
<title>Magic&Might of Heroes</title>

<head>
        <link rel="stylesheet" type="text/css" href="../../static/overworld/religion/religion.css">
        </link>
</head>

<body>
        <div>
                <div id="mainDivHeader">
                        <img src="../../media/Skull.png" alt="" class="img-container">
                </div>
                <div id="closexDiv">
                        <img src="../../media/close-x.png" alt="" style="margin: auto;width: 80%;height: 50%;">
                </div>
        </div>
        <div id="mainDiv">

                <div id="left-sideDiv">
                        <div id="godImgDiv">
                                <img src="../../media/godImg1.png" alt="" class="img-container"
                                        style="padding-top:20px ;">
                        </div>
                        <div id="godNameHeaderDiv">Bhaal</div>
                        <div id="godInfoDiv">
                                <p style="padding: 15px;margin: auto;">All of your heroes gain %20 more armor and %30
                                        more attack. All of your combat units take half the time to train.</p>
                        </div>
                </div>
                <div id="right-sideDiv">
                        <div id="upper-rightDiv">
                                <div class="godImgDiv">
                                        <img src="../../media/godImg2.png" alt="" class="img-container2">
                                </div>
                                <div class="godImgDiv">
                                        <img src="../../media/godImg3.png" alt="" class="img-container2">
                                </div>
                                <div class="godImgDiv">
                                        <img src="../../media/godImg4.png" alt="" class="img-container2">
                                </div>
                                <div class="godImgDiv">
                                        <img src="../../media/godImg5.png" alt="" class="img-container2">
                                </div>
                                <div class="godImgDiv">
                                        <img src="../../media/godImg6.png" alt="" class="img-container2">
                                </div>
                        </div>
                        <div id="below-rightDiv">
                                <div class="below-sidesDiv">
                                        <div class="godAvatarDiv">
                                                <img src="../../media/godImg7.png" alt="" class="img-container3">
                                        </div>
                                        <div class="godAvatarNameDiv godAvatarNameText">Yaldabaoth</div>
                                        <div class="godAvatarDiv">
                                                <img src="../../media/godImg8.png" alt="" class="img-container3">
                                        </div>
                                        <div class="godAvatarNameDiv godAvatarNameText">Yborh</div>
                                </div>
                                <div id="godpowerDiv">
                                        <div class="left-godpowerDiv">
                                                <p class="godpowerText">Yaldabaoth</p>
                                                <p class="godpowerInfoText">All of your combat units have one extra
                                                        movement.</p>
                                        </div>
                                        <div class="right-godpowerDiv">
                                                <p class="godpowerText">Basses</p>
                                                <p class="godpowerInfoText">All of your combat units have %10 more
                                                        attack.</p>
                                        </div>
                                        <div class="left-godpowerDiv">
                                                <p class="godpowerText">Yborh</p>
                                                <p class="godpowerInfoText">Your combat units gain %10 more exp from
                                                        combat.</p>
                                        </div>
                                        <div class="right-godpowerDiv">
                                                <p class="godpowerText">Izotl</p>
                                                <p class="godpowerInfoText">Your combat units are %20 cheaper.</p>
                                        </div>
                                </div>
                                <div class="below-sidesDiv">
                                        <div class="godAvatarDiv">
                                                <img src="../../media/godImg9.png" alt="" class="img-container3">
                                        </div>
                                        <div class="godAvatarNameDiv godAvatarNameText">Basses</div>
                                        <div class="godAvatarDiv">
                                                <img src="../../media/godImg10.png" alt="" class="img-container3">
                                        </div>
                                        <div class="godAvatarNameDiv godAvatarNameText">Izotl</div>
                                </div>
                        </div>
                </div>
        </div>
</body>

</html>