.background-image{
    background-image: url(../media/general-background.png);
    background-size:100vh 100%;
    overflow-y: hidden;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.column{
    float: left;
}
.row{
    width: 100%;
}
.w-70{
    width: 70%;
}
.w-24{
    width: 24%;
}
.p-3{
    padding: 3vh 3%;
}
.h-25{
    height: 100vh;
}
#playerListDiv{
    background-image: url(../media/example-light.png);
    background-size:100% 100%;
    padding: 2vh 1%;
    margin: auto;
    height:55vh;
}
.player{
    margin: auto;
    margin-top: 3%;
    height: 50px;
    width: 70%;
}
.color{
    float: left;
    width: 10%;
    height: 50px;
    background-image: url(../media/blue-bar.png);
    background-size:100% 100%;
}
#color2{
    float: left;
    width: 10%;
    height: 50px;
    background-image: url(../media/RedBar.png);
    background-size:100% 100%;
}
#color3{
    float: left;
    width: 10%;
    height: 50px;
    background-image: url(../media/OrangeBar.png);
    background-size:100% 100%;
}
.playerName{
    float: left;
    margin-left: 5%;
    width: 40%;
    height: 50px;
    background-image: url(../media/SliderBar.png);
    background-size:100% 100%;
}
.nation{
    float: left;
    margin-left: 5%;
    width: 20%;
    height: 50px;
}
.nation select{
    float: left;
    margin-left: 5%;
    width: 100%;
    height: 50px;
}
.checkBox{
    float: left;
    margin-left: 5%;
    width: 15%;
    height: 50px;
}
input.checkBox{
    float: left;
    margin-left: 5%;
    width: 100%;
    height: 50px;
}
input.largerCheckbox { 
    float: left;
    margin-left: 5%;
    width: 40px; 
    height: 40px; 
}
.background-image-border{
    padding-top: 5vh;
    background-image:url(../media/example-light.png);
    background-size:100% 100%;
    background-image: no-repeat;
}
#MapBackgroundDiv{
    margin: auto;
    padding: 3vh 10%;
  background-image:url(../media/example-dark.png);
   background-size:100% 100%;
   background-image: no-repeat;

}
#MapSelection{
    margin: auto;
    line-height: 8;
    font-size: 12px;
    background-image:url(../media/Header.png);
    height:100;
    width: 300;
    text-align: center;
    background-size:100% 100%;
    background-image: no-repeat;
}
#VictoryCondition{
    margin: auto;
    background-image:url(../media/Header.png);
    height:100;
    width: 300;
    line-height: 8;
    font-size: 12px;
    text-align: center;
    background-size:100% 100%;
    background-image: no-repeat;
}
.row2{
    margin-top: 5px;
    text-align: center;
}
#NumberOfTurns{
    margin: auto;
    background-image:url(../media/Header.png);
    height:100;
    width: 300;
    line-height: 8;
    font-size: 12px;
    text-align: center;
    background-size:100% 100%;
    background-image: no-repeat;
}
.row2{
    margin-top: 5px;
    text-align: center;
}

#StartButton{
    float: left;
    margin: auto;
    background-image:url(../media/SliderButton.png);
    height: 30%;
    width: 30%;
    background-size:100% 100%;
}
.row3{
    margin-top: 5px;
    text-align: center;
}

#startText{
    float: left;
    margin: auto;
    height: 30%;
    width: 30%;
    margin-top:2%;
}

.checkboxSize{
    width: 40px;
    height: 40px;
}
.nameDiv{
    float: left;
    margin-left: 1%;
    text-align:center;
    width: 20%;
    background-image: url(../media/example-dark.png);
    background-position: center;
    background-size: 100% 100%;
    height: 45px;
}
.nameDiv input{
    background-color: inherit;
    border: none;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 90%;
    padding: 10px;
}